In [1]:
from pykrx import stock

In [11]:
pdf = stock.get_etf_portfolio_deposit_file("305720")
pdf

           계약수         금액     비중
티커
373220   817.0  321081000  15.05
006400   552.0  250056000  11.57
005490   586.0  239967000  11.44
247540   951.0  248686500  11.44
051910   542.0  229808000  10.70
003670   546.0  156702000   7.25
005070   840.0  133728000   6.36
086520   191.0  116510000   5.30
096770   835.0  101703000   4.80
121600   759.0   97531500   4.61
066970   329.0   55502300   2.75
078600   405.0   36612000   1.74
361610   329.0   23359000   1.13
450080   188.0   23218000   1.09
011790   191.0   21965000   1.05
020150   369.0   17324550   0.85
005420   255.0    9817500   0.45
137400   222.0    9246300   0.44
222080   674.0    8269980   0.40
336370   351.0    6040710   0.28
299030    62.0    3620800   0.18
036830    54.0    3132000   0.17
217820   408.0    2354160   0.11
290670    50.0    1462500   0.07
196490  1818.0     941724   0.05
010010     0.0          0   0.72

In [12]:
pdf = stock.get_etf_portfolio_deposit_file("459560")
pdf

            계약수       금액   비중
티커
373220    20.00  7860000  0.0
079031   350.47        0  0.0
311001   117.40        0  0.0
0B783T   143.73        0  0.0
997241   119.47        0  0.0
100004   326.67        0  0.0
100003  1240.00        0  0.0
005439    55.20        0  0.0
719011   119.07        0  0.0
385161   196.80        0  0.0
000000   520.00        0  0.0
000001   366.67        0  0.0
5073V1    41.67        0  0.0
01400A   349.60        0  0.0
7066G1    86.20        0  0.0
009538   131.60        0  0.0
100002   186.67        0  0.0
866800  1073.33        0  0.0
005278   132.47        0  0.0
1880K1    23.60        0  0.0
3088M1    81.20        0  0.0
000226   331.93        0  0.0
8160R1   420.80        0  0.0
100001   520.00        0  0.0
778521    63.33        0  0.0